* {
    padding: 0;
    margin: 0;
    color: #333;
}


.wrap {
    width: 100%;
    height: calc(100vh - 61px);
    background: #92D5FF;
    position: relative;
}

.content {
    width: 850px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    align-items: center;
}

h3 {
    text-align: center;
    align-items: center;
    padding: 40px;
    font-size: 40px;
    font-weight: 400;
    color: #000;
}
.name {
    width: 500px;
    height: 60px;
    padding-left: 10px;
    background: #EDEDED;
    color: #838383;
    border: 1px solid #A9A9A9;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
    border-radius: 8px;
}
.ps {
    width: 500px;
    height: 60px;
    padding-left: 10px;
    background: #EDEDED;
    color: #838383;
    border: 1px solid #A9A9A9;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
    border-radius: 8px;
}

.login_bt {
    display: flex;
    font-size: 10px;
    gap: 4px;
    margin-right: 340px;
    transform: scale(2);
    vertical-align: middle;
}
.login_bt > p {
    margin-top: -2px;
}

button {
    width: 520px;
    height: 60px;
    padding-left: 10px;
    background: #009DFF;
    border: 1px solid #009DFF;
    font-size: 20px;
    font-weight: 400;
    margin-top: 70px;
    border-radius: 8px;
}
button > p {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.members {
    color: #838383;
    padding: 10px;
    margin-right: 450px;
}







