/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
 * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li, ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #2c2c2c;
}
button {
  cursor: pointer;
  background: none;
  border: 0;
}
/* ================================================== */
header {
  width: 100%;
  height: 70px;
  background: #9FD9FD;
}
.header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px; 
}
.logo {
  width: 180px;
}
.logo img{
  width: 150px;
}
nav {
  height: 100px;
  align-content: center;
  width: 45%;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li{
  font-size: 20px;
  font-weight: bold;
}
nav ul li a {
  color: #2c2c2c;
}

/* ========================================== */
main {
  width: 100%;
}
.main-page {
  background: url(../public/images/mainbg.png) no-repeat;
  background-size: 100% 820px;
  width: 100%;
  height: 820px;
  position: relative;
}
.main-page-contents{
  width: 750px;
  border: 1px solid #000;
  position: absolute;
  top: 150px;
  left: 150px;
}
.main-page-contents h1 {
  font-size: 36px;
  font-weight: bold;
  color: #000;
}
.main-page-contents p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 180px;
  color: #000;
}
.main-page-contents img {
  width: 450px;
}
/* ================================================ */
.main-page-mypage {
  height: 540px;
}
.main-page-mypage-header {
  border: 1px solid #000;
}
/* ================================================ */
.Community-header {
  text-align: center;
  padding: 20px;
  
}.Community-header .search input:focus {outline:none;}
.Community-header .search input {
  width: 522px;
  height: 52px;
  border: 3px solid #3FB5FF;
  border-radius: 4px 0px 0px 4px;
  padding: 10px;
  color: #2c2c2c;
  font-size: 16px;
}
.Community-header .search button {
  background: #3FB5FF;
  width: 52px;
  height: 52px;
  position: absolute;
  border-radius: 0px 4px 4px 0px;
}
.Community-header .search button img {
  width: 31px;
  filter: invert(100%);
}
/* ================================================ */
.Community-main {
  width: 934px;
  margin: 0 auto;
  border-top: 1px solid #000;
}
.Community-main-title {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}
.Community-main-title-content {
  padding: 10px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Community-main-title h2 {
  width: 300px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.Community-main-title .Community-title-content {
  width: 300px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.Community-main-title .Community-title-content span {
  font-size: 16px;
  font-weight: bold;
}
/*=============================================== */
.Community-post-content {
  padding: 10px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}
.Community-post-content:hover {
  background: #F3F3F3;
}
.Community-post-content h4 {
  width: 300px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
.Community-post-content .Community-content {
  width: 280px;
  padding: 0 40px;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}

/* ================================================ */
.Community-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
}
.Community-footer .page-number {
  text-align: center;
}
.Community-footer .page-number button {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border: 1px solid #898989;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}
.Community-footer .page-number button:hover {
  background: #a5a5a5;
}
.Community-footer .page-number .prev, 
.Community-footer .page-number .next {
  font-weight: bold;
  font-size: 20px;
}
.Community-footer .page-number span {
  font-size: 30px;
  font-weight: 400;
  margin: 0 10px;
}
/* ================================================ */

/* ================================================ */
.Community-input-header {
  margin: 0 auto;
  width: 872px;
  display: flex;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #000;
}
.Community-input-header h2 {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}
.Community-input-header img {
  width: 38px;
}
.Community-input-main {
  margin: 0 auto;
  width: 872px;
}
.Community-input-main input {
  width: 100%;
  height: 52px;
  border-radius: 4px;
  color: #2c2c2c;
  font-size: 20px;
  padding: 0 10px;
}
.Community-input-main .Community-input-title {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  padding: 10px 20px;
}
.Community-input-main input:focus {outline: 1px solid #898989;}
.Community-input-main textarea {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  color: #2c2c2c;
  font-size: 16px;
  padding: 10px;
  resize: none;
}
.Community-input-main textarea:focus {outline: 1px solid #898989;}
.Community-input-main .Community-input-content {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  padding: 20px 20px;
}
.Community-input-footer {
  margin: 0 auto;
  width: 872px;
  border: 1px solid #000;
  padding: 20px;
}
.Community-input-footer .input-button {
  text-align: right;
  margin-top: 10px;
}
.Community-input-footer button img {
  width: 50px;
}