/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: #2c2c2c;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
}

/* ================================================== */
header {
  width: 100%;
  height: 70px;
  background: #9FD9FD;
}

.header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.logo {
  width: 180px;
}

.logo img {
  width: 150px;
}

nav {
  height: 100px;
  align-content: center;
  width: 45%;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  font-size: 20px;
  font-weight: bold;
}

nav ul li a {
  color: #2c2c2c;
}

/* ========================================== */
.project-login-header {
  width: 100%;
  height: 70px;
  background: #ffffff;
}

.login-header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.logo {
  width: 180px;
}

.logo img {
  width: 150px;
}

nav {
  height: 100px;
  align-content: center;
  width: 45%;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  font-size: 20px;
  font-weight: bold;
}

nav ul li a {
  color: #2c2c2c;
}

/* ========================================== */
main {
  width: 100%;
}

.main-page {
  background: url(../public/images/mainbg.png) no-repeat;
  background-size: 100% 820px;
  width: 100%;
  height: 820px;
  position: relative;
}

.main-page-contents {
  width: 750px;
  border: 1px solid #000;
  position: absolute;
  top: 150px;
  left: 150px;
}

.main-page-contents h1 {
  font-size: 36px;
  font-weight: bold;
  color: #000;
}

.main-page-contents p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 180px;
  color: #000;
}

.main-page-contents img {
  width: 450px;
}

/* ================================================ */
.main-page-mypage {
  height: 540px;
}

.main-page-mypage-header {
  border: 1px solid #000;
}

/* ================================================ */
.login-page {
  width: 100%;
  height: calc(100vh - 61px);
  background: #92D5FF;
  position: relative;
}

.login-page-content {
  width: 895px;
  height: 638px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, .25) 0px 0px 10px;
}

.login-page-content h3 {
  text-align: center;
  align-items: center;
  padding: 50px;
  font-size: 36px;
  font-weight: 400;
  color: #000;
  margin-bottom: 40px;
}

.login-page-content input {
  width: 638px;
  height: 65px;
  padding-left: 10px;
  background: #EDEDED;
  color: #838383;
  border: 1px solid #A9A9A9;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 25px;
  border-radius: 8px;
}

.login-page-content input:focus {
  outline: none;
}

.login-page-content .login_bt {
  width: 638px;
  display: flex;
  gap: 10px;
}

.login-page-content .login_bt .keep-login {
  width: 30px;
  height: 30px;
}

.login-page-content .login_bt p {
  font-size: 16px;
}

.login-page-content .confirm {
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: column;
}

.login-page-content button {
  width: 638px;
  height: 80px;
  background: #009DFF;
  border: 1px solid #009DFF;
  font-size: 24px;
  font-weight: bold;
  border-radius: 6px;
  color: #fff;
}

.members {
  color: #838383;
  padding: 10px;
  margin-right: 450px;
}

/* ================================================ */
.member-input-page {
  width: 100%;
  height: 100vh;
  background: #92D5FF;
  position: relative;
}

.member-input-bg {
  width: 895px;
  height: 797px;
  background: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, .25) 0px 0px 10px;
}

.member-input-content {
  width: 638px;
  margin: 0 auto;
}

.member-input-content input {
  width: 638px;
  height: 55px;
  padding-left: 10px;
  background: #EDEDED;
  color: #838383;
  border: 1px solid #A9A9A9;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 25px;
  border-radius: 8px;
}

.member-input-content input:focus {
  outline: none;
}

.member-input-bg h3 {
  text-align: center;
  align-items: center;
  padding: 50px;
  font-size: 36px;
  font-weight: 400;
}

.member-input-content p {
  font-size: 16px;
  text-align: left;

  margin-bottom: 10px;
}

.member-input-content .username {
  width: 638px;
  display: flex;
  gap: 20px;
}

.member-input-content .username .userid-label {
  display: flex;
  gap: 20px;
  align-items: center;
}

.member-input-content .username .userid-label input {
  margin: 0;
}

.member-input-content .username .userid .userid-check {
  width: 90px;
  height: 35px;
  background: #009DFF;
  border: 1px solid #009DFF;
  font-size: 14px;
  font-weight: normal;
  border-radius: 6px;
  color: #fff;
}

.member-input-content .username input {
  width: 250px;
  margin-right: 18px;
}

.member-input-bg .confirm {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
}

.member-input-bg button {
  width: 638px;
  height: 80px;
  background: #009DFF;
  border: 1px solid #009DFF;
  font-size: 24px;
  font-weight: bold;
  border-radius: 6px;
  color: #fff;
}

/* ================================================ */
.Community-header {
  text-align: center;
  padding: 20px;
}

.Community-header .search input:focus {
  outline: none;
}

.Community-header .search input {
  width: 522px;
  height: 52px;
  border: 3px solid #3FB5FF;
  border-radius: 4px 0px 0px 4px;
  padding: 10px;
  color: #2c2c2c;
  font-size: 16px;
}

.Community-header .search button {
  background: #3FB5FF;
  width: 52px;
  height: 52px;
  position: absolute;
  border-radius: 0px 4px 4px 0px;
}

.Community-header .search button img {
  width: 31px;
  filter: invert(100%);
}

/* ================================================ */
.Community-main {
  width: 934px;
  margin: 0 auto;
  border-top: 1px solid #000;
}

.Community-main-title {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.Community-main-title-content {
  padding: 10px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Community-main-title h2 {
  width: 300px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.Community-main-title .Community-title-content {
  width: 300px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.Community-main-title .Community-title-content span {
  font-size: 16px;
  font-weight: bold;
}

/*=============================================== */
.Community-post-content {
  padding: 10px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.Community-post-content:hover {
  background: #F3F3F3;
}

.Community-post-content h4 {
  width: 300px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

.Community-post-content .Community-content {
  width: 280px;
  padding: 0 40px;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}

/* ================================================ */
.Community-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  display: flex;
}

.Community-footer-content {
  width: 934px;
  margin: 0 auto;
  display: flex;
  position: relative;

}

.Community-footer .page-number {
  width: 60%;
  text-align: center;
  height: 60px;
  margin: 0 auto;
}

.Community-footer .page-number button {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border: 1px solid #898989;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}

.Community-footer .page-number button:hover {
  background: #a5a5a5;
}

.Community-footer .page-number .prev,
.Community-footer .page-number .next {
  font-weight: bold;
  font-size: 16px;
}

.Community-footer .page-number span {
  font-size: 30px;
  font-weight: 400;
  margin: 0 10px;
}

.Community-footer .write-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #65BAED;
  position: absolute;
  right: 50px;
}

.Community-footer .write-button img {
  width: 30px;
  filter: invert(100%);
}

/* ================================================ */
.Community-view-header {
  margin: 0 auto;
  width: 872px;
  padding: 20px 0;
}

.Community-view-header .Community-view-title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

.Community-view-header .Community-view-info {
  width: 100%;
}

.Community-view-header .Community-view-info table {
  width: 100%;
  border-collapse: collapse;
}

.Community-view-header .Community-view-info th {
  background: #F0F0F0;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  font-size: 16px;
  font-weight: normal;
}

.Community-view-header .Community-view-info td {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  height: 67px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: normal;

}

.Community-view-header .Community-view-info .file {
  width: 100px;
  height: 38px;
  display: flex;
  align-items: center;
}

.Community-view-header img {
  width: 38px;
  background: #D2EEFF;
  margin-right: 10px;
  border-radius: 50%;
}

.Community-view-main {
  margin: 0 auto;
  width: 872px;
  padding: 40px 0px;
  margin-bottom: 200px;
}

.Community-view-main .post-content {
  min-height: 200px;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 20px;

}

.Community-view-main .comments-section {
  border-top: 1px solid #000;
  margin-top: 40px;
}

.Community-view-main .comments-section h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
  padding: 10px 0;
}

.Community-view-main .comments-section .comment {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  padding: 10px 0;
}

.Community-view-main .comments-section .comment-time {
  font-size: 12px;
  color: #898989;
}

.Community-view-main .comments-section .add-comment {
  margin-top: 20px;
  min-height: 150px;
  border: 1px solid #898989;
  border-radius: 5px;
  padding: 10px;
}

.Community-view-main .comments-section .add-comment textarea {
  width: 100%;
  height: 100px;
  border-radius: 4px;
  color: #2c2c2c;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
}

.Community-view-main .comments-section .add-comment textarea:focus {
  outline: 1px solid #898989;
}

.Community-view-main .comments-section .add-comment .comment-btn {
  width: 100px;
  height: 40px;
  background: #65BAED;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  display: block;
  margin-left: auto;
}

.Community-view-main .comments-section .add-comment .file-upload-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

.Community-view-main .comments-section .add-comment .file-upload-form
.custom-file-upload {
  border: 1px solid #ccc;
  width: 120px;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.Community-view-main .comments-section .add-comment .file-upload-form
.file-name {
  width: 720px;
  padding: 10px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#file-upload {
  display: none;
}
.Community-view-footer {
  width: 100%;
  height: 150px;
  position: fixed;
  bottom: 0;
  background: #ffffff;
}
.Community-view-footer .back {
  width: 179px;
  height: 64px;
  border-radius: 50px;
  background: #009DFF;
  color: #FFFFFF;
  display: block;
  margin: 20px auto 0;
  font-size: 20px;
  font-weight: bold;
}
/* ================================================ */
.Community-input-header {
  margin: 0 auto;
  width: 872px;
  display: flex;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #000;
}

.Community-input-header h2 {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}

.Community-input-header img {
  width: 38px;
}

.Community-input-main {
  margin: 0 auto;
  width: 872px;
}

.Community-input-main input {
  width: 100%;
  height: 52px;
  border-radius: 4px;
  color: #2c2c2c;
  font-size: 20px;
  padding: 0 10px;
}

.Community-input-main .Community-input-title {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  padding: 10px 20px;
}

.Community-input-main input:focus {
  outline: 1px solid #898989;
}

.Community-input-main textarea {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  color: #2c2c2c;
  font-size: 16px;
  padding: 10px;
  resize: none;
}

.Community-input-main textarea:focus {
  outline: 1px solid #898989;
}

.Community-input-main .Community-input-content {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  padding: 20px 20px 100px;
}

.Community-input-footer {
  margin: 0 auto;
  width: 872px;
  height: 300px;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.Community-input-footer .Community-input-button {
  width: 100px;
  height: 57px;
  background: #65BAED;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}

.Community-input-footer button img {
  width: 50px;
}